
body{
    padding-right: 0px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 900px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
}

.left-section {
    width: 400px;
}

.right-section {
    width: 400px;
    padding-left: 20px;
}

h2 {
    color: #000000;
    margin-bottom: 10px;
}

.item {
    margin-bottom: 20px;
    position: relative;
}

.item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: translateY(-50%);
}

.item span {
    position: relative;

    padding: 0 10px;
    background-color: #ffffff;
}

.front-end span {
    color: #000000;
}

.back-end span {
    color: #000000;
}

.devops span {
    color: #000000;
}


.description {
    color: #fff;
    margin-bottom: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 4px dashed #000000;
    border-radius: 40px;
}

.card h3 {
    color: #000000;
    margin-bottom: 10px;
}

.card p {
    color: #000000;
}
