@import "tailwindcss";
body {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  font-family: Inter;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  gap: 30px;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  width: 100%;
}
.prof-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
h1{
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.text{
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.ava{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 4px solid #000000;
}
.prof-info{
  display: flex;
  flex-direction: column;
}
.section-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
h2{
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.section{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px;

  border: 4px dashed #000000;
  border-radius: 40px;
  justify-content: center;
  gap: 50px;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.item-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#github{
  filter: invert(1);
}

/* .menu {
  text-align: center;
  border: 4px dashed #000000;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  
} */
/* .menu-item {
  margin: 10px 0;
  cursor: pointer;
  color: rgb(0, 0, 0);
} */
.text-link{
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.text-link:hover{
  color: #170acf;
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  color: black;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu{
  padding-left: 20px;
  padding-top: 20px;
  background-color: white;
  z-index: 2;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: rgb(255, 255, 255);
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 200px;
  border-right: 4px dashed #000000;
  height: 100vh;
}
.menu-item {
  display: block;
  padding: 8px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.2)    
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}